@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Lequire;
  src: url(assets/fonts/Lequire-Regular.ttf);
}

.time-separator {
  padding-right: 18px;
}

.time-cursor {
  box-shadow: 1px 0 0 0 #fff;
}

.time-unsure {
  color: #5f6368;
}

#time-container{
  border-bottom: 2px solid #8ab4f8;
  width: fit-content;
  margin: auto;
  font-variant-numeric: tabular-nums;
}

.time-unsure{
  color: #5f6368;
}

#widget-container {
  background-color: #1f1f1f;
  color: white;
  width: 400px;
  height: 150px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 2em;
  border-radius: 7px;
  box-shadow: inset 3px 3px 15px 0px black, inset -3px 0px 15px 0px black;
}

#button-container {
  margin-top: 5%;
  position: relative;
}

.button {
  border-radius: 2px;
  font-size: 0.45em;
  font-family: "Libre Franklin";
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 15px;
  cursor: pointer;
  transition: 0.3s;
}

#start-btn {
  background-color: orange;
  border: 1px solid orange;
}

#start-btn:hover{
  background-color: orange;
  border: 1px solid orange;
  opacity: 0.8;
}

#reset-btn {
  background-color: #bdc1c6;
  border: 1px solid #bdc1c6;
  margin-left: 16px;
}

#reset-btn:hover{
  background-color: #bdc1c6;
  border: 1px solid #bdc1c6;
  opacity: 0.8;
}

#sound-btn{
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 15px;
}

#sound-btn img{
  width: 30px;
  filter: invert(1);
  opacity: 0.7;
}

.animate-character
{
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
  font-family: Lequire;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}